<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Streak</title>
  </head>
  <body>
    <div class="container">
        <p>A place for writers to become better writers.</p>
        <p>You will be writing on Medium and </p>
        <p>Growing your streak - that gives your writing history on a single click.</p>
        <button class="card" type="button" name="button">Start now for 5 USD</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://js.stripe.com/v3/"></script>
    <!-- <script src="./script.js" defer></script> -->
    <!-- Load translation files and libraries. -->
    <script src="https://unpkg.com/i18next/i18next.js"></script>
    <script src="https://unpkg.com/i18next-xhr-backend/i18nextXHRBackend.js"></script>
    <script src="https://unpkg.com/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.js"></script>
    <script src="./translation.js" defer></script>

    <script type="text/javascript">
      /* Handle any errors returns from Checkout  */
      var handleResult = function(result) {
        return
        if (result.error) {
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
          $('.overlay').removeClass('d-none').html(
            `<p>${displayError.textContent}</p>
             <button class="btn btn-close" onclick="$('.overlay').addClass('d-none')">Close</button>`
          );
        }
      };

      // Create a Checkout Session with the selected quantity
      var createCheckoutSession = function() {
        var inputEl = document.getElementById('quantity-input');
        var quantity = 1;

        return fetch('/create-checkout-session', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            quantity: quantity,
            locale: 'en',
            userInput: 'defaultpassword'
          }),
        }).then(function(result) {
          $(this).html('Going forward ...')
          return result.json();
        });
      };

      /* Get your Stripe publishable key to initialize Stripe.js */

      fetch('/config')
        .then(function(result) {
          return result.json();
        })
        .then(function(json) {
          window.config = json;
          var stripe = Stripe(config.publicKey);
          // Setup event handler to create a Checkout Session on submit
          $(document).on('click', '.card', function(evt) {
            $(this).html('Creating Checkout Session ...');
            createCheckoutSession().then(function(data) {
              $(this).html('Redirecting to Secure Checkout ...')
              stripe
                .redirectToCheckout({
                  sessionId: data.sessionId,
                })
                .then(handleResult);
            });
          });
        });
    </script>
  </body>
</html>
