<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Connect Medium</title>
  </head>
  <body>
    <p>Step 1. <a href="#">Sign In</a> using Medium</p>
    <p>Step 2. Select a Date to track from.</p>
    <p>Step 3. Create your URL and share with people.</p>
  </body>
</html>
