<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <div class="container">
      <form class="" action="/profile" method="post">
        <input type="file" name="img" value="">
        <input type="text" name="name" value="Name">
        <input type="email" name="email" value="name@email.com">
        <input type="password" name="password" value="" placeholder="Create a New Password">
        <input type="password" name="" value="" placeholder="Confirm Password">
        <button type="submit" name="button">Submit</button>
      </form>
    </div>
  </body>
</html>
